<form method="GET" action="/quizes/<%= quiz.id %>/answer">
  <p>Pregunta: <%= quiz.pregunta %></p>
  <input type="text" name="respuesta" value="Responda aquí"> 
  <input type="submit" value="Enviar">
</form>

<p><a href="/quizes/<%= quiz.id %>/comments/new"><button>Nuevo comentario</button></a></p>

<% if (quiz.Comments.length) { %>
	<p><strong>Comentarios:</strong></p>

<% var i; for (i=0; i<quiz.Comments.length; i++) { %>
	<% if(quiz.Comments[i].publicado || session.user) { %>
		<p><%= quiz.Comments[i].texto %>
		<% if(session.user && !quiz.Comments[i].publicado) { %>
			<a href="/quizes/<%= quiz.id %>/comments/<%= quiz.Comments[i].id %>/publish"><button>Publicar</button></a>
		<% } %>
		</p> 
		<% }
	} 	
} %>

